{{ if site.Params.comments.disqus.shortname }}
<div id="disqus_thread"></div>
<script>
  var disqus_url = 'https://julenetxaniz.eus{{ .URL }}';
  var disqus_config = function () {
    {{with .Params.disqus_identifier }}this.page.identifier = '{{ . }}';{{end}}
    {{with .Params.disqus_title }}this.page.title = '{{ . }}';{{end}}
    {{with .Params.disqus_url }}this.page.url = '{{ . | html  }}';{{end}}
    if ('{{ site.LanguageCode }}' == "es") {
      this.language = 'es_ES';
    } else {
      this.language = '{{ site.LanguageCode }}';
    }
  };
  (function() {
    var d = document, s = d.createElement('script'); s.async = true;
    s.src = 'https://' + {{site.Params.comments.disqus.shortname}} + '.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="https://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
{{end}}
